@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dracula --prefersdark;
}

html {
  scroll-behavior: smooth !important;
  transition: all 0.7s ease;
}

body {
  font-family: 'Hack', monospace;
}

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}